@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

.App {
    --main-colour: rgb(27, 27, 27);
    background-color: var(--main-colour);
    color: white;
    margin-left: 400px;
    margin-right: 400px;
    font-family: "Quicksand";
}


/* MOVIES */ 

.wrapper {
  display: flex;
  flex-wrap: wrap;
  border: #f0f0f0 1px solid;
  padding-left: 35px;
}

.movie-card {
  display: inline-block;
  overflow-y: scroll;
  border: #f0f0f0 1px solid;
  width: 334px;
  height: 333px;
  margin-top: 30px;
}
.title {
  text-align: center;
  border: #f0f0f0 1px solid;
}

.title a {
  text-decoration: none;
}
.poster-path {
  width: 167px;
  height: auto;
  float: left;
  border: #f0f0f0 1px solid;
}

.overview {
  display: flex;
  font-size: 12px;
  padding-left: 15px;
  border: #f0f0f0 1px solid;
}

.add {
  text-align: end;
}
/* TASK BAR */ 
.task-bar .logo {
    margin: 0;
    padding: 0;
    padding: 10px 0 2px;
}

.task-bar .profile {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.task-bar .profile a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.task-bar li a:hover {
    background-color: rgb(58, 56, 56);
  }

/* NAVBAR */ 
.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 34px;
    width: 1060px;
    overflow: hidden;
    background-color: rgb(37, 65, 130);
    display: flex;
  }
  
.navbar li {
    float: left;
  }
  
.navbar li a {
    color: white;
    text-align: center;
    padding: 15px 15px;
    text-decoration: none;
  }
  
.navbar li a:hover {
    background-color: #111;
  }

.navbar .search-bar input {
    border: 1px solid #ddd;
    box-sizing: border-box;
    text-align: center;
    margin: 5px;
    width: 291px;
}

.navbar .search-bar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.navbar .FaSearch {
    display: flex;
    padding: 10px;
    background-color:rgb(37, 65, 130);
    width: 10px;
}
